
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJourneyLabel">Dodaj podroz</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.journey.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.journey.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Data</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.journey.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rating">Ocena</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                    ng-model="vm.journey.rating"
                    min="0" max="5" />
            <div ng-show="editForm.rating.$invalid">
                <p class="help-block"
                    ng-show="editForm.rating.$error.min" translate-value-min="0">
                    Ocena musi byc wieksza niz 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.rating.$error.max">
                    Ocena nie moze byc wieksza niz 5.
                </p>
                <p class="help-block"
                    ng-show="editForm.rating.$error.number">
                    Ocena powinna byc wartoscia liczbowa.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_taxi">Samochod</label>
            <select type="text" class="form-control" name="taxi" id="field_taxi"
                    ng-model="vm.journey.taxi" ng-options="car.plateNo for car in vm.cars track by car.id">
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_address">Adres poczatkowy</label>
            <input type="text" class="form-control" name="address" id="field_address"
                   ng-model="vm.journey.address" />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Anuluj</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Zapisz</span>
        </button>
    </div>
</form>
