<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Haslo dla [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Haslo zostalo zmienione</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Wystapil blad!</strong> Haslo nie zostalo zmienione.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Hasla nie sa zgodne!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nowe haslo</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Haslo jest wymagane!
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Haslo musi miec przynajmniej 4 znaki.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Haslo nie moze byc dluzsze od 50 znakow.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Potwierdz nowe haslo</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Haslo jest wymagane!
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Haslo musi miec przynajmniej 4 znaki.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Haslo nie moze byc dluzsze od 50 znakow.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>
